<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>About Sam</title>
</head>

<body>
	<h1>About Sam</h1>
	<a href="/main">Back</a>
	<p>I am always tired. This course has been very difficult for me.</p>
	<p>I do not particularly like Javascript. I prefer python.</p>
	<img src="{{picture}}" width="200">

</body>

	{{> footer}}

</html>